
# macOS system files
.DS_Store

# Python environment & cache
.env
__pycache__/
*.pyc

# Terraform state and lock files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.log

# IDE/editor junk
.vscode/
